.topnav_link {
    cursor: pointer;
}

.topnav_link:hover {
    background-color: #d7d6d6;
    color: black;
}

select {
    outline: auto;
    outline-color: #e5e5e5;
}

@media screen and (min-width: 600px) {
.conditionalWidth{
    width: 100%;
    max-width: 94vw;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
}