// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------


.ql-align-center{
  text-align: center !important;
}

.ql-align-right{
  text-align: right !important;
}

.ql-align-left{
  text-align: left !important;
}

.nav-links__arrow{
  margin-left: 7px !important;
}



.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a{
  background-color: #F1630C ;
  border-color: #F1630C ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #F1630C ;
  padding: 7px 12px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #F1630C ;
  border-color: #F1630C;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #F1630C
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}


.card-body{
  margin: 50px;
} 

.p-c-heading{
  align-self: center!important;
  text-align: center
}
.p-c-description{
  align-self: center!important;
  text-align: center
}
.p-c-button{
  align-self: center!important;
  max-width: 200px;
}

.p-c-icon{
  align-self: center!important;
}



.p-c-s-icon{
  align-self: center!important;
}

.p-c-e-icon{
  align-self: center!important;
}

.p-c-s-icon i {
  font-size: 7em;
  color: #28a745;
  margin-bottom: 20px;
  
}

.p-c-e-icon i {
  font-size: 7em;
  color: #f32f2fe0;
  margin-bottom: 20px;
  
}


.m-r-10{
  margin-right: 10px;
}