// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------


.ql-align-center{
  text-align: center !important;
}

.ql-align-right{
  text-align: right !important;
}

.ql-align-left{
  text-align: left !important;
}

.nav-links__arrow{
  margin-left: 7px !important;
}